<html>

<head>
  <title>You're Invited!</title>
</head>

<body>
  <h3>RSVP for {{spouse_one_name}} and {{spouse_two_name}}'s Wedding</h3>
  <p>Hi {{guestName}},</p>
  <p>
    Love is in the air, and you have been invited to attend {{spouse_one_name}}
    and {{spouse_two_name}}'s wedding. Please click the link below to update
    your RSVP status.
  </p>
  <p>
    <a href="{{guestInviteURL}}">{{guestInviteURL}}</a>
  </p>
  <p>
    <small>Powered by <a href="https://www.h3rra.com">H3rra</a></small>
  </p>
</body>

</html>